    <div id="wrapper">
        <div class="container">
                <div class="card mb-3">
                        <img src="./cnn2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card text-center">
                                <div class="card-header">
                                  <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                      <a class="nav-link" href="/scrape">Scrape</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="/">All Articles</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link active" href="/saved">Saved Articles</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title"> Saved Articles: </h4>
                                    <div id="articles"></div>
                                     {{#each articles }}
                                        <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                        <h4 class="panel-title text-center">
                                            <a href="{{this.link }}" target="_blank">{{ this.title }}</a>
                                        </h4>
                                        <hr>
                                        </div>
                                    </div>
                                    {{/each}}    
                            </div>
                            </div>
                    </div>
            </div>
    </div>
</div>